@using BestMovies.ViewModels;
@model UserViewModel

<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">
        User Profile
    </h1>
    <h2 class="my-4">@Model.UserName</h2>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="@Model.ProfileImageUrl" alt="">
        </div>

    </div>

</div>
<!-- /.container -->
